<section class="section-contact lazy-background" id="kontakt">
    <div class="contact-container">
            <!-- Radno vreme kolona -->
            <div class="contact-column">
                <h2 class="contact-heading" data-i18n="footer.working_hours.title">Radno vreme</h2>
                <div class="working-hours">
                    <div class="hours-row">
                        <span class="days" data-i18n="footer.working_hours.weekdays">Ponedeljak - Četvrtak</span>
                        <span class="time">08:00 - 00:00</span>
                    </div>
                    <div class="hours-row">
                        <span class="days" data-i18n="footer.working_hours.weekend">Petak - Subota</span>
                        <span class="time">08:00 - 02:00</span>
                    </div>
                    <div class="hours-row">
                        <span class="days" data-i18n="footer.working_hours.sunday">Nedelja</span>
                        <span class="time">09:00 - 00:00</span>
                    </div>
                </div>
            </div>

            <!-- Kontakt kolona -->
            <div class="contact-column">
                <h2 class="contact-heading" data-i18n="footer.contact.title">Kontakt</h2>
                <div class="contact-social">
                    <a href="https://www.facebook.com/artzitiste/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/art_zitiste/?hl=sr" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="contact-info">
                    <span><i class="fas fa-map-marker-alt"></i> <span data-i18n="footer.contact.address">Trg Oslobođenja bb</span></span>
                    <span><i class="far fa-envelope"></i> <a href="mailto:caffeart@gmail.com">caffeart@gmail.com</a></span>
                    <span><i class="fas fa-phone-square"></i> <a href="tel:+381612003932">0612003932</a></span>
                </div>
                <div class="footer-faq-link">
                    <a href="faq" class="faq-button">
                        <i class="fas fa-question-circle"></i> Često postavljena pitanja
                    </a>
                </div>
            </div>

            <!-- Mapa kolona -->
            <div class="contact-column">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=caffe%20art%20zitiste&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
    </div>
</section>
