/*---------------------------------------------*/
/* CUSTOM SVG ICON SYSTEM */
/*---------------------------------------------*/

/* Base icon styles */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
}

/* Icon sizes */
.icon-sm {
    width: 0.875em;
    height: 0.875em;
}

.icon-lg {
    width: 1.5em;
    height: 1.5em;
}

.icon-xl {
    width: 2em;
    height: 2em;
}

.icon-2x {
    width: 2em;
    height: 2em;
}

.icon-3x {
    width: 3em;
    height: 3em;
}

/* Icon positioning helpers */
.icon-left {
    margin-right: 0.5em;
}

.icon-right {
    margin-left: 0.5em;
}
